<!DOCTYPE html>

<!--    html web pages were developed using W3Schools HTML tutorials. -->
<!--    source: https://www.w3schools.com/html/html_form_elements.asp-->

<html style="background-color:hsla(215, 100%, 75%, 0.6);" >

<head>
<title>Ethereum Finance Hub</title>
</head>
<body>

{{{body}}}

</body>

</html>