<h1 style="text-align:center;">Ethereum Finance Hub</h1>
<p style="text-align:center;">Enter Ethereum wallet addressses below. Please enter one wallet per line.</p>

<form action="/summary" id="walletForm" method="post" style="text-align:center;">

    <textarea name="wallets" style="width: 500px; height: 500px; background-color: #dcdcdc">Enter Ethereum wallets here...</textarea>

    <br>
    <br>

    <input type="Submit">

</form>
