<h1>Ethereum Finance Hub</h1>
<p>Summary View</p>

<p>Total value: $4,493.98</p>


<label for="wallets">Filter by: </label>
<select name="wallets" id="wallets">
    <option value="all">All</option>
    {{#each wallet}}
    <option value={{this}} >{{this}}</option>
    {{/each}}
</select>


<br>
<br>

<form>
<button type="submit" formaction="/transactions" formmethod="post">See Transactions</button>
    <br>
    <br>

<button type="submit" formaction="/wallets" formmethod="post">See Wallets</button>
</form>
