<!DOCTYPE html>

<!--    html web pages were developed using W3Schools HTML tutorials. -->
<!--    source: https://www.w3schools.com/html/html_form_elements.asp-->

<html style="background-color:hsla(215, 100%, 75%, 0.6);" >
<head>
<title>Ethereum Finance Hub</title>

</head>
<body>


<h1>Ethereum Finance Hub</h1>
<p>Summary View</p>

<p>Total value: $4,493.98</p>


<label for="wallets">Filter by: </label>
<select name="wallets" id="wallets">
    <option value="all">All</option>
    <option value="wallet1">Wallet1</option>
    <option value="wallet2">Wallet2</option>
    <option value="wallet3">Wallet3</option>
    <option value="wallet4">Wallet4</option>
</select>


<br>
<br>

<form>
<button type="submit" formaction="/transactions" formmethod="post">See Transactions</button>
    <br>
    <br>

<button type="submit" formaction="/wallets" formmethod="post">See Wallets</button>
</form>

</body>
</html>