<h1>Ethereum Finance Hub</h1>
<p>Summary View</p>

<p>Total value: ${{totalValue}}</p>

<br>
<br>

<form>
<button type="submit" formaction="/transactions" formmethod="post">See Transactions</button>
    <br>
    <br>

<button type="submit" formaction="/wallets" formmethod="post">See Wallets</button>
</form>
