<!DOCTYPE html>
<html style="background-color:hsla(215, 100%, 75%, 0.6);" >

    <head>
        <title>Ethereum Finance Hub</title>
    </head>
    <body>

        <h1>Ethereum Finance Hub</h1>
        <p>Transactions View</p>

        <table>
            <tr>
                <td style="padding: 5px">
                    <label for="wallets">Wallet: </label>
                    <select name="wallets" id="wallets">
                        <option value="all">All</option>
                        <option value="wallet1">Wallet1</option>
                        <option value="wallet2">Wallet2</option>
                        <option value="wallet3">Wallet3</option>
                        <option value="wallet4">Wallet4</option>
                    </select>
                </td>
                <td style="padding: 5px">
                    <label for="token">Token: </label>
                    <select name="token" id="token">
                        <option value="all">All</option>
                        <option value="token1">ETH</option>
                        <option value="token2">USDC</option>
                        <option value="token3">FTM</option>
                        <option value="token4">USDT</option>
                    </select>
                </td>
                <td style="padding: 5px">
                    <label for="date">Date: </label>
                    <select name="date" id="date">
                        <option value="all">All</option>
                        <option value="date1">Date1</option>
                        <option value="date2">Date2</option>
                        <option value="date3">Date3</option>
                        <option value="date4">Date4</option>
                    </select>
                </td>
                <td style="padding: 5px">
                    <label for="tsxHash">Transaction Hash: </label>
                </td>
                <td>
                    <search>
                        <form>
                            <input name="tsxHashSearch" id="tsxHashSearch" placeholder="Search Transactions...">
                        </form>
                    </search>
                    </select>
                </td>
            </tr>
        </table>

        <br>
        <br>

        <table style="width:80%; border:1px solid black; text-align:left;">
            <tr style="border:1px solid black; text-align:left"> 
                <th style="border:1px solid black; text-align:left">wallet</th>
                <th style="border:1px solid black; text-align:left">Transaction Hash</th>
                <th style="border:1px solid black; text-align:left">Date</th>
                <th style="border:1px solid black; text-align:left">Token</th>
                <th style="border:1px solid black; text-align:left">Amount</th>
                <th style="border:1px solid black; text-align:left">Value</th>
                <th style="border:1px solid black; text-align:left">from</th>
                <th style="border:1px solid black; text-align:left">to</th>
            </tr>
            <tr style="border:1px solid black; text-align:left"> 
                <td style="border:1px solid black; text-align:left">wallet1</td>
                <td style="border:1px solid black; text-align:left">dfg987dg876erwtun4wpiohfgsdfb</td>
                <td style="border:1px solid black; text-align:left">12/31/2023</td>
                <td style="border:1px solid black; text-align:left">USDC</td>
                <td style="border:1px solid black; text-align:left">1,000</td>
                <td style="border:1px solid black; text-align:left">$1,000.00</td>
                <td style="border:1px solid black; text-align:left">987sfdb0987sdf098b7</td>
                <td style="border:1px solid black; text-align:left">sdfogiusd9f78b8s97df7b2</td>
            </tr>
        </table>

        <br>
        <br>

        <form>
            <button type="submit" formaction="/transactions" formmethod="post">Refresh</button>
            <br>
            <br>
            <button type="submit" formaction="/wallets" formmethod="post">See Wallets</button>
            <br>
            <br>
            <button type="submit" formaction="/summary" formmethod="post">See Summary</button>
        </form>

    </body>
</html>