<!DOCTYPE html>
<html style="background-color:hsla(215, 100%, 75%, 0.6);" >
<head>
<title alignment="center">Ethereum Finance Hub</title>
</head>
<body>

<h1>Ethereum Finance Hub</h1>
<p>Wallets view</p>

<p>Total value: $2,750.25</p>

<label for="wallets">Filter by: </label>
<select name="wallets" id="wallets">
    <option value="wallet1">Wallet1</option>
    <option value="wallet2">Wallet2</option>
    <option value="wallet3">Wallet3</option>
    <option value="wallet4">Wallet4</option>
</select>

<br>
<br>

<form>
<button type="submit" formaction="/transactions" formmethod="post">See Transactions</button>
    <br>
    <br>
<button type="submit" formaction="/summary" formmethod="post">See Summary</button>
</form>


</body>
</html>